@media (min-width: 768px) {

 .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-right: 0px;
        padding-left: 0px;
        font-size-adjust: inherit;
        font-size: 14px!important;
 }
 .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
     padding-right: 8px;
     padding-left: 8px;
     position: relative;
     min-height: 1px;
     font-size-adjust: inherit;
    }
 .bmodal.modal-dialog.iframemodal {
    max-width: 85vw !important;
    min-width: 600px;
    margin: 15px auto !important;
    width: auto;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .react-bs-table {
    overflow: auto;
  }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-right: 0px;
        padding-left: 0px;
        font-size-adjust: inherit;
        font-size: 14px!important;
    }
}
@media print {
  .noPrint {
    display: none;
  }

  .print {
    display: block;
  }

  .modal-content {
    border: none;
  }

  .printList {
    height: auto;
  }

  .modal-open .modal {
    overflow: hidden !important;
  }

  .printrow img {
    display: block;
    margin: auto;
  }
}