.dialog .modal-body{
  border-radius:6px !important;
  padding: 5px !important;
  overflow:hidden !important;
}

.dialog .modal-content{
  width:50% !important;
  margin:0px auto;
}

.modalPadding {
    padding: 6px 22px;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
